.page {
    display: flex;
    justify-content: center;
    padding: 8rem 1rem 2rem;
    background-color: var(--BGColor--);
}

.content {
    width: 800px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}